<header id="site-header">
    <div class="header-top">
        
        <!-- TITLE -->
        <div class="title-bar">
            <img src="./images/favicon.png" class="title_logo">
            <h1 class="site-title">MrCollinsPKU.github.io</h1>
        </div>
        <div class="id">Welcome to Mr. Collins LZC's homepage.</div>
        
        <!-- MENU -->
        <nav class="menu">
            <a href="index.html">主页 | Home</a>
            <a href="artworks.html">作品 | Artworks</a>
            <a href="reviews.html">乐评 | Reviews</a>
            <a href="jam-tracks.html">即兴伴奏 | Jam Tracks</a>
        </nav>
        
    </div>

    <!-- PAGE TITLE -->
    <h2 class = "page-title"></h2>

</header>